.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(228, 228, 228, 0.447);
  display: flex;
  color: black;
  div {
    color: black;
  }
  padding-bottom: 8rem;
}
