.banner {
  background: linear-gradient(to bottom, #f5f6f7c7, #b8e9ed);
  width: 100%;
  height: 250px;
  min-height: 250px;
}

.swiper {
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.image__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  img {
    width: 250px;
    height: auto;
  }
  .title__container {
    text-decoration: none;
    text-align: center; // Align placeholder text to the right
    justify-self: center;
    font-family: digikala;
    font-size: 22px;
    color: var(--navy-light);
  }
}
