:root {
  color: var(--primary-white);
}

.navbar__container {
  width: 100%;
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--navy-navbar);
  top: 0;
  height: 66px;
  max-height: max-content;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  @media screen and (max-width: 872px) {
    border-radius: 0;
  }
}
.navbar__mobile {
  display: none;
  @media screen and (max-width: 480px) {
    display: flex;

    margin-left: 0.5rem;
    border-color: var(--primary-white);
    padding: 0.5rem;
    div {
      display: flex;
      background-color: var(--primary-yellow);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      color: black;
    }
    svg {
      align-self: center;
    }
  }
}

.logo__container {
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-left: 1rem;
  img {
    height: 2.7rem;
    width: auto;
  }
  @media screen and (max-width: 480px) {
    img {
      height: 1.7rem;
      width: auto;
    }
  }
}

.searchbar__container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  width: 45%;
  height: 46px;
  input {
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    color: var(--navy-navbar);
    outline: none;
    text-indent: 3.5rem;
    // max-width: 780px;
    background-color: var(--primary-white);
    &::placeholder {
      text-align: right; // Align placeholder text to the right
      justify-self: center;
      margin-right: 1rem;
      font-family: digikala;
      font-size: 22px;
      color: var(--navy-light);
    }
  }

  button {
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 46px;
    height: 46px;
    background-color: var(--primary-yellow);
    svg {
      width: 70%;
      height: 70%;
    }
    &:hover {
      svg {
        width: 80%;
        height: 80%;
      }
    }
  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 872px) {
    display: none;
  }
  @media screen and (max-width: 1024px) {
  }
}

.small__searchbar_container {
  border: none;
  display: none;
  width: 100%;
  background-color: var(--navy-navbar);
  .searchbar__container_small {
    display: flex;
    position: relative;
    left: 0;
    right: 0;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 46px;
    input {
      position: relative;
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 38px;
      // max-width: 780px;
      background-color: var(--primary-white);
      &::placeholder {
        text-align: right; // Align placeholder text to the right
        justify-self: center;
        margin-right: 1rem;
        font-family: digikala;
        font-size: 22px;
        color: var(--navy-light);
      }
    }

    button {
      position: absolute;
      cursor: pointer;
      border: none;
      border-radius: 5px 0 0 5px;
      width: 46px;
      height: 38px;
      background-color: var(--primary-yellow);
      svg {
        width: 70%;
        height: 70%;
      }
      &:hover {
        svg {
          width: 80%;
          height: 80%;
        }
      }
    }
  }
  @media screen and (max-width: 872px) {
    display: flex;
    align-items: center;
  }
}
.login__cart_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  height: 2rem;
  margin-inline: 1rem;
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    width: 13rem;
    .login {
      padding: 0.25rem;
    }
    .cart {
      gap: 0.2rem;
      padding: 0.2rem;
      justify-content: center;
      align-content: center;
      div {
        align-self: center;
        width: 19px;
        height: 19px;
      }
    }
  }
}

.login {
  z-index: 2;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--primary-white);
  padding: 0.5rem;
  cursor: pointer;
  p {
    font-family: digikala;
  }
}

.cart {
  display: flex;
  gap: 0.5rem;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--primary-white);
  padding: 0.5rem;
  cursor: pointer;
  div {
    display: flex;
    background-color: var(--primary-yellow);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: black;
  }
  svg {
    align-self: center;
  }
  p {
    font-family: digikala;
  }

  @media screen and (max-width: 500px) {
  }
}

.navbar__menu {
  display: none;
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
  svg {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 480px) {
    display: flex;
  }
}

.navabr__menu_container {
  display: flex;
  position: fixed;
  flex-direction: column;
  right: 0;
  top: 0rem;
  width: 50%;
  height: 50vh;
  z-index: 10;
  border-radius: 0 0 0 10px;
  background-color: var(--blue-light);
  .HiX {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin: 1rem;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .navbar__list_container {
    height: 100%;
    display: flex;
    justify-content: center;
    ul {
      list-style-type: none;
      margin-top: 1rem;

      li {
        div {
          div {
            display: flex;
            background-color: var(--primary-yellow);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            color: black;
          }
        }
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}
