.linkBox__container_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 45%;
  height: 66%;
  min-height: 650px;
  background: linear-gradient(to bottom, #a9d0d780, #a9d0d738);
  margin-top: 0.5rem;
  border-radius: 5px;

  @media screen and (max-width: 1448px) {
    width: 80%;
    height: 66%;
  }
  @media screen and (max-width: 720px) {
    width: 90%;
    height: 66%;
  }
  @media screen and (max-width: 500px) {
    width: 95%;
    height: 66%;
    margin-inline: 1rem;
    padding-inline: 1rem;
  }
}

.logo__container_hero {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  .image__container {
    width: 100%;
    height: auto;
    min-height: 20%;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
    }
    div {
      justify-content: center;
      align-items: center;
      font-family: digikala;
      font-size: 1.2rem;
      color: var(--navy-light);
      @media screen and (max-width: 1448px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 720px) {
        font-size: 0.8rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.65rem;
      }
    }
  }
}

.link__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 10rem;
  margin-top: 2rem;
  div {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0.5rem;
    color: var(--navy-navbar);
    font-family: "yekan";
    font-size: 24px;
    direction: rtl;
  }
  .search_input {
    margin-left: 3rem;
    font-size: 18px;
    color: var(--navy-navbar);
    outline: none;
  }
  .search_input:focus {
    border: unset;
    border: 2px solid var(--navy-light);
  }
  .linkbox__searchform {
    display: flex;

    input {
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 55px;
      // max-width: 780px;
      background-color: var(--primary-white);
      &::placeholder {
        text-align: left; // Align placeholder text to the right
        justify-self: center;
        margin-left: 8rem;
        padding: 1rem;
        font-family: digikala;
        font-size: 18px;
        color: var(--navy-light2);
      }
    }
    button {
      position: absolute;
      cursor: pointer;
      border: none;
      border-radius: 5px 0 0 5px;
      width: 55px;
      height: 55px;
      background-color: var(--primary-yellow);
      svg {
        width: 70%;
        height: 70%;
      }
      &:hover {
        svg {
          width: 80%;
          height: 80%;
        }
      }
    }
  }
}

.description__container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  height: 10rem;
  margin-top: 0rem;
  direction: rtl;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
    font-family: yekan;
    color: var(--navy-navbar);
    p {
      color: var(--navy-light);
      margin-top: 0.75rem;
    }
  }
}
